h1 {
  color: blue;
  font-size: 36px;
}

h2 {
  font-size: 18px;
  border-left: 6px solid red;
  border-bottom: 12px solid red;
  font-weight: bold;
}

.p-style {
  text-indent: 32px;
}

a {
  color: red;
}

a:hover {
  color: green;
}

a:active {
  color: yellow;
}

.wrong {
  text-decoration: line-through;
}

img {
  max-width: 50%;
  max-height: 50%;
  border: 12px solid gray;
}
